body {
  font-family: 'Patrick Hand', cursive;
  background: #faf7f2;
  text-align: center;
}

#booth {
  max-width: 350px;
  margin: auto;
}

video {
  width: 100%;
  border: 3px solid black;
}

#countdown {
  font-size: 48px;
  margin: 15px;
}

button {
  padding: 10px 20px;
  font-size: 18px;
  border: 2px solid black;
  background: white;
  cursor: pointer;
}

canvas {
  margin-top: 20px;
  border: 3px solid black;
  background: white;
}
